<launch>

  <arg name="hardware_interface" default="VelocityJointInterface" />
  <arg name="robot_name" default="helene" />
  <arg name="model" default="standard"/>
  <arg name="trajectory" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <group>
    <include file="$(find hw_description)/launch/helene_upload.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="robot_name" value="helene" />
    </include>
  </group>

  <node name="my_robot_hw_vel" pkg="controller_helene" type="my_robot_hw_vel" output="screen"/>

  <rosparam file="$(find moveit_helene)/config/ros_controllers_jog.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/helene" output="screen" 
          args="--namespace=/helene
          joint_state_controller
          effort_group
          --timeout 20"/>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <param name="ignore_timestamp" value="false" />
    <param name="publish_frequency" value="30.0" />
    <param name="use_tf_static" value="false" />
  </node>

</launch>