[Desktop Entry]
Version=1.0
Name=Start Helene
Comment=Mit dieser Verknuepfung werden alle erforderlichen Nodes zum Benutzen des Helene Roboterarms gestartet
GenericName=Start Helene
Keywords=System;Robotarm;ROS;noetic;Helene
Exec=bash -c "source /opt/ros/noetic/setup.bash;source ~/ros_ws/devel/setup.bash;sleep 1;roslaunch applications_helene realrobot.launch"
Terminal=true
Type=Application
Icon=HeleneIcon.png
Categories=Development;
